.contact-section {
   display: flex;
   flex-wrap: wrap;
   gap: 32px; 
   margin-top: 20px;
   margin-bottom: 20px;

   .contact-info, .contact-form {
      flex: 1;
      min-width: 300px;
   }

   form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input, textarea {
         width: 100%;
         padding: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
      }
   }
}